.topbar {
	display: flex;
	height: 20px;
	font-size: 10px;
	width: 100%;
	color: white;
	background-color: rgb(var(--primary));
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}

.topbar svg {
	margin-right: 10px;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

#status {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: green;
}

.divisoria {
	margin: 10px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 5px;
}

.divisoria .title {
	padding: 5px;
	font-size: 10px;
	text-transform: uppercase;
	color: white;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.divisoria .title a {
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	width: 15%;
	height: 20px;
	background-color: #a00;
	padding: 3px;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
}
.divisoria .title a:hover {
	background-color: rgb(208, 19, 19);
}

#urlbar {
	display: flex;
	height: 40px;
	font-size: 14px;
	width: 100%;
	color: white;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	background-color: black;
}

#urlbar > form > label {
	color: white;
	font-size: 14px;
}

#urlbar > form > input[type="text"] {
	padding: 4px;
	width: 300px;
}

#urlbar > form > input[type="submit"] {
	padding: 5px;
	color: white;
	background-color: #a00;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	margin-left: 5px;
}

#lastcommits {
	display: flex;
	min-height: 20px;
	font-size: 8px;
	width: 100%;
	color: black;
	background-color: rgb(255, 171, 171);
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	display: none;
}

#lastcommits ul {
	list-style: circle;
	line-height: 12px;
}

#btnlogar {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

#btnlogar a {
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	width: 100%;
	background-color: #a00;
	padding: 10px;
	margin: 2px;
	border-radius: 5px;
	text-align: center;
}
#btnlogar span {
	font-size: 10px;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	width: 100%;
	background-color: rgb(255, 183, 0);
	padding: 10px;
	margin: 2px;
	border-radius: 5px;
	text-align: center;
}

#btnlogar a:hover {
	background-color: rgb(208, 19, 19);
}

.button-alert {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: red;
	height: 40px;
	color: white;
	text-decoration: none;
	cursor: pointer;
	font-size: 20px;
}

.links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	background-color: #444;
}

.item {
	width: 33.33%;
}

.link {
	min-height: 14vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background-color: white;
	text-decoration: none;
	margin: 2px;
}

.link i {
	width: 20px;
	height: 20px;
}

.link .label {
	color: black;
	font-size: 1.6em;
	text-align: center;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.link .description {
	color: black;
	font-size: 0.8em;
	text-transform: uppercase;
	margin-top: 4px;
	text-align: center;
}

.link:hover {
	background-color: #eee;
	color: white;
}

#funcionais {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	background-color: #444;
}

#funcionais div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
}

#funcionais div > span {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 8px;
	padding: 8px;
	background-color: #999;
	margin: 2px;
	border-radius: 3px;
	width: 100%;
}

#funcionais div > span:hover {
	color: black;
	background-color: #ccc;
	-moz-user-select: none;
	cursor: pointer;
}

.clicked {
	color: white !important;
	background-color: #a00 !important;
	-moz-user-select: none;
}

.help {
	padding: 10px;
	font-size: 10px;
	background-color: rgb(255, 248, 172);
}

@media screen and (max-width: 900px) {
	.item {
		width: 50%;
	}
	.link .label {
		font-size: 1.4em;
	}
	.link .description {
		font-size: 0.7em;
	}
	.divisoria .title a {
		width: 30%;
	}
	#funcionais div {
		width: 33.33%;
	}
}

@media screen and (max-width: 480px) {
	.item {
		width: 100%;
	}
	#urlbar > form > input[type="text"] {
		width: 200px;
	}
	#funcionais div {
		width: 100%;
	}
}
